body{
	background-color: #FFF5EE;
}
header, section{
  width: 1000px;
  background-color: #F1DDCF;
	padding: 10px 10px;
	margin: 5px 110px;
	border-radius: 5px;
}
header{
	color: black;
	font-family: 'arial', sans-sarrif;
	text-align: center;
}
footer{
  text-align: center;
}
